@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.btn {
  border-radius: 2.5rem;
  display: block;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto;
  outline: 1px solid v.$color-white;
  text-transform: uppercase;

  &--blue {
    @include m.btn-color(v.$color-blue-3, v.$color-primary);
  }

  &--green {
    @include m.btn-color(v.$color-green-3, v.$color-secondary-dark);
  }

  &--yellow {
    @include m.btn-color(v.$color-yellow-2, v.$color-yellow-3);
  }

  &--red {
    @include m.btn-color(v.$color-red-2, v.$color-red-3);
  }

  &--purple {
    @include m.btn-color(v.$color-purple-2, v.$color-purple-3);
  }

  &--outline-blue {
    @include m.btn-outline(v.$color-blue-3, v.$color-primary);
  }

  &--outline-green {
    @include m.btn-outline(v.$color-green-3, v.$color-secondary-dark);
  }

  &--outline-yellow {
    @include m.btn-outline(v.$color-yellow-2, v.$color-yellow-3);
  }

  &--outline-red {
    @include m.btn-outline(v.$color-red-1, v.$color-red-2);
  }

  &--outline-purple {
    @include m.btn-outline(v.$color-purple-2, v.$color-purple-3);
  }

  &--small,
  &--medium,
  &--large {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--small {
    font-size: v.$font-size - .4rem;
    height: 10%;
    padding: 0.7rem 0.5rem;
    width: 25%;

    @include m.responsive(phone) {
      padding: .6rem 0rem;
    }
  }

  &--medium {
    font-size: v.$font-size;
    padding: 1.1rem;
    width: 40%;

    @include m.responsive(phone) {
      font-size: v.$font-size ;
      padding: 1.2rem 1rem;
      text-align: center;
    }
  }

  &--large {
    font-size: v.$font-size + .4rem;
    padding: 1.3rem;
    text-align: center;
    width: 80%;

    @include m.responsive(phone) {
      padding: 1.2rem 0rem;
    }
  }

}

.disabled {
  background-color: v.$color-gray-2;

  &:hover {
    background-color: v.$color-gray-2;
    cursor: not-allowed;
  }
}

.ico-disabled {
  filter: invert(22%) sepia(1) saturate(120%) hue-rotate(200deg) brightness(90%) contrast(119%);

  &:hover {
    cursor: not-allowed;
  }
}

.btn-ico {
  width: 4rem;
  height: 5rem;
  transition: all .3s;
}

.trash {
  @include m.btn-ico('/icons/trash-normal.svg');

  &:hover {
    background-image: url('/icons/trash-full.svg');

    @include m.responsive(phone) {
      @include m.btn-ico('/icons/trash-normal.svg');
    }
  }
}

.plus {
  @include m.btn-ico('/icons/plus.svg');

  &:hover {
    transform: rotate(90deg);

    @include m.responsive(phone) {
      transform: rotate(0deg);
    }
  }
}

.edit {
  @include m.btn-ico('/icons/edit.svg');

  &:hover {
    transform: rotate(5deg);

    @include m.responsive(phone) {
      transform: rotate(0);
    }
  }
}