@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;


.form-control {
  display: flex;
  gap: .5rem;
  justify-content: space-between;
  padding: .2rem;
  text-transform: uppercase;
  width: 100%;

  @include m.responsive(phone) {
    flex-direction: column;
    gap: 0;
  }

  &__label,
  &__input {
    color: v.$color-primary !important;
  }

  &__label {
    font-size: v.$font-size - .2rem;
    letter-spacing: .1rem;
    padding: 1rem 0;

    @include m.responsive(phone) {
 
      letter-spacing: 0;
    }

  }

  &__input {
    border: none;
    outline: 2px solid v.$color-gray-2;
    transition: width .3s;
    width: 70%;
    padding: 0rem 1rem;
    letter-spacing: 1px;
    

    @include m.responsive(phone) {
      // width: 100%;
    }

    &::placeholder {
      color: v.$color-gray-2;
      font-weight: 200;
    }

    &,
    &:link,
    &:visited {
      border-radius: 1rem;
      // font-size: v.$font-size;
      padding: 0.5rem 1rem;
      border-bottom: 3px solid rgb(233, 233, 233);
    }

    &:focus {
      outline: 2px solid v.$color-green-3;
      // width: 66%;

      @include m.responsive(phone) {
        width: 100%;
      }
    }
  }
}

.form {
  width: 50rem;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  @include m.responsive(phone) {
    gap: 0.2rem;
  }

  &__buttons {
    display: flex;
    width: 90%;
    margin-top: 2rem;

    @include m.responsive(phone) {
      width: 100%;
    }
  }

  @include m.responsive(phone) {
    max-width: 30rem;
  }
}

.text-area {
  max-width: 100%;
  resize: vertical;
  border: 1px solid v.$color-gray-2;
  border-radius: 1rem;
  padding: 1rem;
  font-size: v.$font-size + 0.2rem;

  &:focus {
    outline: 2px solid v.$color-green-3;
  }
}

.error-container {
  position: relative;

  &__message {
    width: 100%;
    display: flex;
    color: red;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: flex-end;
    font-size: 1.2rem;
    animation: vibrate .3s ease forwards;
  }
}

@keyframes vibrate {
  0% {
    transform: translate(-10%, 0%);
  }

  15% {
    transform: translate(-12px, 0%);
  }

  30% {
    transform: translate(-10px, 0%);
  }

  45% {
    transform: translate(-12px, 0%);
  }

  70% {
    transform: translate(-10px, 0%);
  }

  75% {
    transform: translate(-12px, 0%);
  }

  90% {
    transform: translate(-10px, 0%);
  }

  100% {
    transform: translate(-10%, 0%);
  }
}