@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;


.form-order {
  display: grid;
  // grid-template-rows: auto auto auto;
  grid-template-areas:
    "header-nit header-date"
    "table-input table-input"
    "textarea-table-input count-items";
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

.header-nit {
  grid-area: header-nit;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header-date {
  grid-area: header-date;
}

.table-input{
  grid-area: table-input;

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: v.$font-size;
  }
}

.textarea-table-input {
  grid-area: textarea-table-input;
  resize: none;
  border: none;
  outline: 1px solid v.$color-primary;
  border-radius: .5rem;
  padding: .5rem;
  font-size: v.$font-size;

  &:focus {
    outline: 1px solid v.$color-green-3;
  }
}

.count-items{
  grid-area: count-items;
  align-self: flex-end;
  justify-self: end;
}