@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

@mixin btn-ico($url) {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  background-image: url($url);
}

.ico-disabled {
  filter: invert(22%) sepia(1) saturate(120%) hue-rotate(200deg) brightness(90%)
    contrast(119%);

  &:hover {
    cursor: not-allowed;
  }
}

.btn-ico {
  width: 4rem;
  height: 4rem;
  transition: all 0.3s;
}

.trash {
  @include btn-ico("/icons/trash-normal.svg");
  width: 2.5rem;

  &:hover {
    background-image: url("/icons/trash-full.svg");

    @include m.responsive(phone) {
      @include btn-ico("/icons/trash-normal.svg");
    }
  }
}

.plus {
  @include btn-ico("/icons/plus.svg");
  z-index: 4;

  &:hover {
    transform: scale(1.2);
  }

  @include m.responsive(phone) {
    // top: 20vh;
    // left: 80%;
    // width: 4rem;
  }
}

.edit {
  @include btn-ico("/icons/edit.svg");
  width: 2.5rem;

  &:hover {
    transform: rotate(5deg);

    @include m.responsive(phone) {
      transform: rotate(0);
    }
  }
}

@mixin btnBack($color, $backgroundColor) {
  color: $color;
  &:hover {
    color: v.$color-white;
    background-color: $backgroundColor;
    box-shadow: 0 0 20px $color;
    border-color: $color;
  }

  &:hover span:nth-child(1) {
    right: 80%;
    transform: rotate(180deg);
    color: $color;
    background-color: $color;
  }
}

.btn-back {
  border: 2px solid;
  padding: .5em .5rem;
  position: absolute;
  top: 11vh;
  left: 8%;
  z-index: 9;

  @include m.responsive(phone){
    top: 19vh;
  }
}

.back {
  font-weight: 900;
  border-radius: 0.7rem;
  @include btnBack(v.$color-blue-3, #001a2b);

  & span:nth-child(n) {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid;
    transition: all 0.6s ease;
  }
  & span:nth-child(1) {
    right: 10%;
    top: -6px;
    background-color: v.$color-white;
  }

}

