@use '../abstract/variables' as v;

.modal {
  position: absolute;
  z-index: 12;
  width: 100%;
  height: 100%;
  background-color: v.$color-gray-2;
  backdrop-filter: blur(4px);
  opacity: 1;
  transition: all .2s ease ;

  &__container {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.885);
    border-radius: 1.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.478);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    margin: 10% auto;
    outline: 3px solid v.$color-blue-1;
    padding: 5rem;
    position: relative;
    width: 45%;

    &--title {
      font-size: 4rem;
      text-transform: uppercase;

    }
    &--message {
      font-size: 2.8rem;
      text-align: center;
      color: v.$color-primary;
      text-transform: uppercase;
    }

    &--buttons {
      display: flex;
      gap: 3rem;
    }

    &--image {
      width: 20rem;
      height: 20rem;
      
    }
  }
}

.hide-modal {
  opacity: 0;
}