@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

.nav {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  &__search {
    align-self: center;

    &--input {
      transition: width 0.3s;
      width: 30rem;
      border-radius: 2.5rem;
      text-transform: uppercase;
      @include m.input();

      &:focus {
        outline: 2px solid v.$color-blue-2;
        width: 32rem;
      }
    }

    form {
      position: relative;
      top: 0;
      right: 0;
    }

    &--image {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 95%;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    padding: 1.8rem;
    justify-content: center;
    margin: 3rem auto;
    width: 90%;
    border-top: 1px solid v.$color-blue-1;
    border-bottom: 1px solid v.$color-blue-1;

    &--container {
      display: flex;
      gap: 2rem;
    }
    &--link {
      @include m.link-nav();
      font-size: v.$font-size;
    }
  }
}
