@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.nav {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  &__search {
    align-self: center;

    &--input {
      padding: 1rem;
      text-transform: uppercase;
      border-radius: 2.5rem;
      border: none;
      background-color: v.$color-white;
      width: 25rem;
      outline: 2px solid v.$color-white;
      transition: width 0.3s ;      

      &:focus {
        outline:  2px solid v.$color-blue-2;
        width: 35rem;
      }
    }

    form {      
        position: relative;
        top: 0;
        right: 0;      
    }

    &--image {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 95%;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    padding: 1.8rem;    
    justify-content: center;
    margin: 3rem auto;
    width: 90%;
    border-top: 1px solid v.$color-blue-1 ;
    border-bottom: 1px solid v.$color-blue-1 ;

    &--container{
      display: flex;
      gap: 2rem;
  
    }
    &--link {
      @include m.link-nav();
      font-size: v.$font-size;
    }
  }

}
