@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;


.paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 100%;
  // position: sticky;
  // background-color: v.$color-blue-1;
  bottom: 0;

  &__span {
    font-size: v.$font-size + .6rem;
    
    @include m.responsive (phone){
      font-size: v.$font-size - .6rem;
    }
  }
}
