@use '../abstract/mixins' as m;
@use '../abstract/variables' as v;

.private-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
  width: 75%;
  margin-left: 30rem;
  height: 10vh;

  @include m.responsive(phone) {
    padding: 5rem 1.5rem;
    margin-left: 0;
    width: 100%;
    height: 20vh;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: .6rem;

    @include m.responsive(phone) {
      gap: .5rem;
      align-self: flex-end;
    }

    & span {

      text-transform: uppercase;
      font-size: v.$font-size - .4rem;
      color: v.$color-primary;
    }


    &--link {
      @include m.link-nav();
      font-size: v.$font-size;
    }
  }
}