@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.private-nav {
  position: fixed;
  display: flex;
  z-index: 10;
  transition: all .4s;
  width: 100%;
  background-color:v.$color-gray-1;

  &__container {
    padding: 0 1.5rem;
    width: 25rem;
    height: 100vh;
    background-color: v.$color-white;

    @include m.responsive(phone) {
      width: 100%;
    }

    &:first-child {
      padding-top: 2rem;
    }

    &--item {
      border-bottom: 1px solid v.$color-gray-3;
      display: flex;
      align-items: center;
      transition: all .4s;

      &:hover {
        background-color: v.$color-secondary;
        color: v.$color-white;
      }
    }

    &--link {
      color: v.$color-primary;
      padding: 1rem 1.5rem;
      font-size: v.$font-size;

      @include m.responsive(phone) {
        text-align: center;
      }


      &:link,
      &:visited {
        display: block;
        font-weight: 700;
        letter-spacing: 1px;
      }

      &:hover {
        color: v.$color-white;
      }
    }
  }

  &__menu {
    display: block;
    width: 25rem;
    position: fixed;
    bottom: 0;
    background-color: v.$color-primary;
    height: 10vh;

    &>img {
      filter: invert(42%) sepia(93%) saturate(1200%) hue-rotate(2000deg) brightness(500%) contrast(119%);
    }

    @include m.responsive(phone) {
      width: 100%;
    }

    &:hover {
      background-color: v.$color-primary-dark;
    }
  }
}

.openSidebar {
  // transform: translate(0, 0);
  backdrop-filter: blur(4px);
}

.closeSidebar {
  transform: translateY(-100%);
}

.menu-open {
  transform: translateY(0%);
}
.menu-close {
  transform: translateY(100%);
}