@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.table {
  overflow: auto;
  max-width: 100%;

  &>table {
    border-collapse: collapse;

  }

  @include m.responsive(tab-port) {
    align-self: flex-start;
  }

  &__header {
    background-color: v.$color-primary;
    font-size: v.$font-size - .2rem;
    position: sticky;
    text-transform: uppercase;
    top: 0;
    z-index: 1;
    text-align: center;

    &--titles {
      color: white;

      @include m.responsive(phone) {
        color: v.$color-primary-dark;
        background-color: white;
      }
    }
  }

  &__row {
    font-size: v.$font-size - .2rem;
    text-transform: uppercase;
    border: 1px solid v.$color-gray-1;
    color: v.$color-primary;
    font-weight: 700;

    @include m.responsive(phone) {
      border: 1px solid v.$color-white;
    }

    &:hover {
      background-color: v.$color-blue-1;
    }
  }

  &__td {
    padding: 1.5rem 1rem;
    width: 12rem;

    @include m.responsive(phone) {
      font-size: v.$font-size;
    }
  }

  &__row-form {
    font-size: v.$font-size - .2rem;
    text-transform: uppercase;
    border: 1px solid v.$color-gray-1;
    color: v.$color-primary;
    font-weight: 700;

    @include m.responsive(phone) {
      border: 1px solid v.$color-white;
    }
  }

  &__td-form {
    padding: 1rem;
    font-size: v.$font-size;

    @include m.responsive(phone) {
      font-size: v.$font-size;
    }
  }

  &__input {
    padding: 1rem 0.5rem;
    font-size: v.$font-size + .2rem;
    border-radius: .5rem;
    letter-spacing: .5px;
    color: v.$color-primary;

    border: none;
    &:focus {
      outline: 2px solid v.$color-green-3;
    }

    &[type="number"] {
      width: 100%;
    }
  }
}