@use '../../abstract/variables' as v;
@use '../../abstract/mixins' as m;

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  align-content: center;  

  @include m.responsive(phone){
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  padding: 2rem;


  &__title {
    font-size: v.$font-size;
    color: v.$color-primary;
    text-align: center;
  }

  &__button{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-between;

  }

  &__link {
    background-color:v.$color-green-4;
    color: v.$color-white;

    padding: 1rem;
    font-size: v.$font-size;
    text-transform: uppercase;
    width: 90%;
    border-radius: 1rem;
    text-align: center;
    &:hover {
      background-color: v.$color-secondary-dark;
    }
  }
}