@use "../../abstract/mixins" as m;
@use "../../abstract/variables" as v;

.form-create-books {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  padding: 1rem;
  max-width: 75%;
  gap: 1rem;

  &__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    & img {
      border-radius: 1rem;
      outline: 1px solid v.$color-primary;
    }
  }

  &__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    &--textarea {
      grid-column: 1/ 2;
      grid-row: 3 / 4;
    }

    &--new-category {
      grid-column: 2/ 3;
      grid-row: 2 / 3;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-container {
        display: flex;
        align-items: center;
        width: 60%;
        gap: 2rem;
      }
    }
  }

  &__button-book {
    align-self: center;
  }
}
