@use './variables' as v;

//!MEDIA QUERY MANAGER
/*
*0	-	600px   		  : 	Phone
*600	-	900px   	  :		Table portrait
*900 -	1200px  		:		Table landscape
*[1200 -	1800px] 	: 	is where our normal system apply
*1800px + 				  :	 	Big desktop

*$breakpoint  
*- phone
*- tab-port
*- tab-land
*- big-desktop

!em == 16px
*/

@mixin responsive($breakpoint) {
  @if $breakpoint ==phone {
    @media(max-width: 37.5em) {
      @content
    }

    ; //! 600px
  }

  @if $breakpoint ==tab-port {
    @media(max-width: 56.25em) {
      @content
    }

    ; //! 900px
  }

  @if $breakpoint ==tab-land {
    @media(max-width: 75em) {
      @content
    }

    ; //! 1200px
  }

  @if $breakpoint ==big-desktop {
    @media(min-width: 112.5em) {
      @content
    }

    ; //! 1800px
  }
}

@mixin link-nav() {
  border-radius: 1rem;
  color: v.$color-primary;
  padding: 1rem 1.5rem;
  @include responsive(phone){
    padding: .5rem 1.5rem;
  }

  &:link,
  &:visited {
    display: block;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all .4s;
  }

  &:hover {
    background-color: v.$color-primary;
    color: v.$color-white;
    ;
  }
}

@mixin input(){
  border: none;
  letter-spacing: 1px;
  padding: .7rem 1rem;

  &::placeholder {
    color: v.$color-gray-2;
    font-weight: 200;
  }

  &:focus {
    outline: 2px solid v.$color-green-4;
  }
}


// @import url("https://fonts.googleapis.com/css?family=Lato:400,700");

// //color/ui color variables
// $white: #ececec;
// $black: #111111;
// $red1: #e74c3c;
// $red2: #c92918;
// $colorPrimary: $red1;
// $colorSecondary: $red2;
// $cubic-bezier: cubic-bezier(0.68, -0.55, 0.265, 1.55);

// //split button mixin
// @mixin btn__split($foregroundColor, $backgroundColor, $textColor) {
//   button.btn {
//     text-transform: uppercase;
//     text-decoration: none;
//     font-weight: 700;
//     border: 0;
//     //display: block;
//     position: relative;
//     letter-spacing: 0.15em;
//     margin: 0 auto;
//     padding: 1rem 2.5rem;
//     background: transparent;
//     outline: none;
//     font-size: 28px;
//     color: $textColor;
//     transition: all 0.5s $cubic-bezier 0.15s;
//     &::after,
//     &::before {
//       border: 0;
//       content: "";
//       position: absolute;
//       height: 40%;
//       width: 10%;
//       transition: all 0.5s $cubic-bezier;
//       z-index: -2;
//       border-radius: 50%;
//       //animation: grow 1s infinite;
//     }
//     &::before {
//       border: 0;
//       background-color: $backgroundColor;
//       top: -0.75rem;
//       left: 0.5rem;
//       animation: topAnimation 2s $cubic-bezier 0.25s infinite alternate;
//     }
//     &::after {
//       background-color: $foregroundColor;
//       top: 3rem;
//       left: 13rem;
//       animation: bottomAnimation 2s $cubic-bezier 0.5s infinite alternate;
//     }
//     &:hover {
//       color: white;
//       &::before,
//       &::after {
//         top: 0;
//         //transform: skewx(-10deg);
//         height: 100%;
//         width: 100%;
//         border-radius: 0;
//         animation: none;
//       }
//       &::after {
//         left: 0rem;
//       }
//       &::before {
//         top: 0.5rem;
//         left: 0.35rem;
//       }
//     }
//   }
// }

// @keyframes topAnimation {
//   from {
//     transform: translate(0rem, 0);
//   }
//   to {
//     transform: translate(0rem, 3.5rem);
//   }
// }
// @keyframes bottomAnimation {
//   from {
//     transform: translate(-11.5rem, 0);
//   }
//   to {
//     transform: translate(0rem, 0);
//   }
// }

// @include btn__split($colorPrimary, $colorSecondary, $black);