@use "../abstract/mixins" as m;
@use "../abstract/variables" as v;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// *This defines what 1rem is
	font-size: 62.5%; // ? 1rem = 10px; 10px/16px = 62.5%

	@include m.responsive(tab-land) {
		//width <1200
		font-size: 56.25%; // ? 1rem = 9px; 9px/16px = 56.25%
	}

	@include m.responsive(tab-port) {
		//width <900
		font-size: 50%; // ? 1rem = 8px; 8px/16px = 50%
	}

	@include m.responsive(big-desktop) {
		font-size: 75%; // ? 1rem = 12px; 12px/16px = 75%

	}
}

body {
	background-color: whitesmoke;
	box-sizing: border-box;
	font-family: v.$font-family;
	margin: 0;
  height: 100vh;
}

.public-main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: 0 auto 10rem;	
	padding: 0 5rem;
	width: 95%;

	@include m.responsive(phone) {
		width: 100%;
	}
}