$font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

$font-size: 1.6rem;

$color-primary-light: #1d4d8783;
$color-primary: #1d4d87;
$color-primary-dark: #0f386a;

$color-secondary-light: #0eec7994;
$color-secondary: #24ad76;
$color-secondary-dark: #0c8f4c;

$color-tertiary-light: #f70ac85f;
$color-tertiary: #f70ac8a0;
$color-tertiary-dark: #f70ac8;   

$color-white: #f5f5f5;
$color-purple: #5a44ed;

$color-gray-1: #46444420;
$color-gray-2: #4644445c;
$color-gray-3: #464444a2;
$color-gray-4: #464444;

$color-black-1: #00000010;
$color-black-2: #00000020;
$color-black-3: #00000080;
$color-black-4: black;

$color-blue-1: #17a2ff2c;
$color-blue-2: #17a2ffaa;
$color-blue-3: #17a2ff;

$color-yellow-1: #bfb52e2d;
$color-yellow-2: #bfb62ea1;
$color-yellow-3: #bfb52e;

$color-red-1: #b40d0da0;
$color-red-2: #f60909b2;
$color-red-3: #ff0000e8;

$color-green-1: #48ff1653;
$color-green-2:  #0d4925aa;
$color-green-3: #2e5745;
$color-green-4: #44ad48e8;

$color-purple-1: #5b44ed88;
$color-purple-2: #6e5bedfe;
$color-purple-3: #5a44ed;

