@use "../abstract/mixins" as m;
@use "../abstract/variables" as v;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// *This defines what 1rem is
	font-size: 62.5%; // ? 1rem = 10px; 10px/16px = 62.5%

	@include m.responsive(tab-land) {
		//width <1200
		font-size: 56.25%; // ? 1rem = 9px; 9px/16px = 56.25%
	}

	@include m.responsive(tab-port) {
		//width <900
		font-size: 50%; // ? 1rem = 8px; 8px/16px = 50%
	}

	@include m.responsive(big-desktop) {
		font-size: 75%; // ? 1rem = 12px; 12px/16px = 75%

	}
}

body {
	background-color: whitesmoke;
	box-sizing: border-box;
	font-family: v.$font-family;
	margin: 0;
	height: 100vh;
	overflow: auto; //! Quitar auto y dejar hidden
}

.reglavacia{
	
}

.body-public {
	overflow: auto;
	height: 100vh;
}

.public-main {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	margin: 0 auto 10rem;
	padding: 0 5rem;
	width: 95%;

	@include m.responsive(phone) {
		width: 100%;
	}
}

.admin-login {
	background: #65f4cd;
	background: -moz-linear-gradient(left, #65f4cd 0%, #4799e9 100%);
	background: -webkit-linear-gradient(left, #65f4cd 0%, #4799e9 100%);
	background: linear-gradient(to right, #65f4cd 0%, #4799e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#65f4cd', endColorstr='#4799e9', GradientType=1);
	height: 100vh;

	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 4rem;
}

.private-main {

	display: flex;
	flex-direction: column;
	padding:  1rem 3rem;
	overflow: auto;
	gap: 3rem;
	height: 90vh;
	align-items: center;

	@include m.responsive(phone){
		height: 80vh;
	}


	&__right {
		width: 80%;
	}
}

::-webkit-scrollbar {
	width: 5px;

	@include m.responsive(phone) {
		height: 5px;
	}
}

::-webkit-scrollbar-track {
	background-color: white;


	@include m.responsive(phone) {
	}
}

::-webkit-scrollbar-thumb {
	background-color: v.$color-primary;

	@include m.responsive(phone) {
	}
}

::-webkit-scrollbar-thumb:hover {
	background-color: v.$color-primary-dark;
}